body {
  height: 100%;
  background-color: #1c395e;
}

.bg-img::before {
  content: "";
  background: url("../imgs/bck-pexels.jpg") no-repeat fixed center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  min-height: 175%;
  max-height: 200%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.App header {
  position: relative;
  width: 100%;
  text-align: center;
}

.App header nav ul {
  background-color: #f5f6fa;
  border: 2px solid #487eb0;
  border-radius: 15px;
  padding: 30px;
  max-width: 20%;
  min-width: 10%;
  position: relative;
  left: 36vmax;
}

.App header nav li {
  list-style-type: none;display: inline-block;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  color: #487eb0;
}

.App header nav li:hover {
  color: #e84118;
  border-bottom: 1px solid #e84118;
}

@media only screen and (max-width: 140vh) {
  
  .App header nav ul{
    left: 30vmax;
  }
}

@media only screen and (max-width: 90vh) {

  .App header nav ul {
    left: 15vmax;
  }
}