body {
  height: 100%;
  background-color: #1c395e;
}

.bg-img::before {
  content: "";
  background: url("../imgs/bck-pexels.jpg") no-repeat fixed center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: relative;
  border: 5px solid red;
  color: red;
}